{% extends 'bases/baseReste.html' %}

{% load static %}

{% block content %}

<!-- start of breadcumb-section -->
<div class="wpo-breadcumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="wpo-breadcumb-wrap">
                    <h2>À propos de nous</h2>
                    <ul>
                        <li><a href="{% url 'index' %}">Accueil</a></li>
                        <li><span>À propos</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of wpo-breadcumb-section-->

<!-- start of vision section -->
<section class="vision-section section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12">
                <div class="wpo-section-title s2 wow fadeInUp" data-wow-duration="1200ms">
                    <span>// notre vision</span>
                    <h2>Mettre en lumière Bonoua, son patrimoine et son avenir</h2>
                </div>
                <div class="wpo-about-text wow fadeInUp" data-wow-duration="1500ms" style="text-align: center;">
                    <p>
                        DestinationBonoua est une plateforme dédiée à la valorisation de la ville de Bonoua, en Côte d’Ivoire.
                        À travers ce site, nous souhaitons faire découvrir les richesses culturelles, touristiques et institutionnelles
                        de cette cité pleine de charme. Notre ambition est de devenir le point de référence pour tous ceux qui veulent
                        visiter, investir ou en apprendre davantage sur Bonoua. En mettant en avant ses lieux emblématiques, ses événements,
                        ses départements et ses institutions, nous contribuons à faire rayonner cette ville au niveau national et international.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of vision section -->

<!-- start of simul-presentation -->
<section class="testimonial-section section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="wpo-section-title  wow fadeInUp" data-wow-duration="1200ms">
                    <span>// à propos de Simul</span>
                    <h2>"Simul", l'entreprise derriere DestinationBonoua</h2>
                </div>
                <div class="wpo-about-text wow fadeInUp" data-wow-duration="1500ms" style="text-align: center;">
                    <p>
                        Simul conçoit des sites web modernes, des plateformes performantes et des applications sur mesure pour répondre aux besoins des entreprises et institutions locales.                    </p>
                </div>
            </div>
        </div>
        <div class="testimonial-slider owl-carousel">
            <div class="testimonial-card wow fadeInUp" data-wow-duration="1400ms">
                <div class="top-content">
                    <div class="image">
                        <img src="{% static 'assets/images/testimonial/1.jpg' %}" alt="">
                    </div>
                    <div class="text">
                        <h3>Développement Web</h3>
                        <span>Sites & Applications</span>
                    </div>
                </div>
                <div class="content">
                    <p>Simul conçoit des sites web modernes, des plateformes performantes et des applications sur mesure pour répondre aux besoins des entreprises et institutions locales.</p>
                </div>
            </div>
            <div class="testimonial-card wow fadeInUp" data-wow-duration="1600ms">
                <div class="top-content">
                    <div class="image">
                        <img src="{% static 'assets/images/testimonial/2.jpg' %}" alt="">
                    </div>
                    <div class="text">
                        <h3>Solutions numériques</h3>
                        <span>Informatique & automatisation</span>
                    </div>
                </div>
                <div class="content">
                    <p>Nous mettons en place des systèmes intelligents pour améliorer la productivité, faciliter la gestion et accélérer la transformation digitale.</p>
                </div>
            </div>
            <div class="testimonial-card wow fadeInUp" data-wow-duration="1800ms">
                <div class="top-content">
                    <div class="image">
                        <img src="{% static 'assets/images/testimonial/3.jpg' %}" alt="">
                    </div>
                    <div class="text">
                        <h3>Accompagnement</h3>
                        <span>Conseil & formation</span>
                    </div>
                </div>
                <div class="content">
                    <p>Au-delà du développement, Simul accompagne les équipes à travers des formations, du conseil stratégique et un suivi personnalisé dans leurs projets numériques.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of simul-presentation -->






{% endblock content %}
