{% extends 'bases/baseReste.html' %}


{% load static %}

{% block content %}

<style>
    /* Styles pour adapter les images aux cadres */
    .image-container {
        width: 100%;
        /* Prend toute la largeur du parent */
        max-width: 600px;
        /* Taille maximale pour éviter le débordement */
        height: 400px;
        /* Hauteur fixe */
        overflow: hidden;
        /* Cache les parties débordantes */
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #ddd;
        /* Optionnel : Ajoute un cadre */
        border-radius: 10px;
        /* Coins arrondis */
    }

    /* Appliquer la propriété d'ajustement */
    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* Remplit le cadre sans déformer l'image */
        border-radius: 10px;
        /* Respecte les coins arrondis */
    }
</style>
<!-- start of breadcumb-section -->
<div class="wpo-breadcumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="wpo-breadcumb-wrap">
                    <h2>Blog</h2>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><span>Blog</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of wpo-breadcumb-section-->

<!-- start wpo-blog-pg-section -->
<section class="wpo-blog-pg-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-lg-8">
                <div class="wpo-blog-content">
                    {% for blog in all_blogs %}
                    <div class="post format-standard-image">
                        <div class="entry-media">
                            <div class="image-container">
                                <img src="{{ blog.image.url }}" alt>
                            </div>
                        </div>
                        <div class="entry-meta">
                            <ul>
                                <li><i class="fi flaticon-user"></i> By <a href="#">{{ blog.author }}</a>
                                </li>
                                <li><i class="fi flaticon-comment-white-oval-bubble"></i>  {{ blog.comment_count }} Commentaires 
                                </li>
                                <li><i class="fi flaticon-calendar"></i> {{ blog.created_at }}</li>
                            </ul>
                        </div>
                        <div class="entry-details">
                            <h3><a href="{% url 'blog-single' blog.id %}">{{ blog.title }}.</a></h3>
                            <p>{{ blog.content|truncatewords:30 }}</p>
                            <a href="{% url 'blog-single' blog.id %}" class="read-more">Read More...</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col col-lg-4">
                <div class="blog-sidebar">
                    <div class="widget about-widget">
                        <div class="img-holder">
                            <img src="{% static 'assets/images/blog/about-widget.jpg' %}" alt>
                        </div>
                        <h4>Jenny Watson</h4>
                        <p>Hi! beautiful people. I`m an authtor of this blog. Read our post - stay with us</p>
                        <div class="social">
                            <ul class="clearfix">
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                <li><a href="#"><i class="ti-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget search-widget">
                        <form>
                            <div>
                                <input type="text" class="form-control" placeholder="Search Post..">
                                <button type="submit"><i class="ti-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="widget category-widget">
                        <h3>Categories</h3>
                        <ul>
                            <li><a href="{% url 'blogs' %}">Guide Information<span>5</span></a></li>
                            <li><a href="{% url 'blogs' %}">Hotel Management <span>7</span></a></li>
                            <li><a href="{% url 'blogs' %}">Popular Hosts <span>3</span></a></li>
                            <li><a href="{% url 'blogs' %}">Room With a View <span>6</span></a></li>
                            <li><a href="{% url 'blogs' %}">Vacational Plan <span>2</span></a></li>
                        </ul>
                    </div>
                    <div class="widget recent-post-widget">
                        <h3>Related Posts</h3>
                        <div class="posts">
                            <div class="post">
                                <div class="img-holder">
                                    <img src="{% static 'assets/images/recent-posts/img-1.jpg' %}" alt>
                                </div>
                                <div class="details">
                                    <h4><a href="">17 places you cannot ignore in Paris</a></h4>
                                    <span class="date">19 Jun 2023 </span>
                                </div>
                            </div>
                            <div class="post">
                                <div class="img-holder">
                                    <img src="{% static 'assets/images/recent-posts/img-2.jpg' %}" alt>
                                </div>
                                <div class="details">
                                    <h4><a href="">Be Careful About This, When You Are In
                                            Snow</a></h4>
                                    <span class="date">22 May 2023 </span>
                                </div>
                            </div>
                            <div class="post">
                                <div class="img-holder">
                                    <img src="{% static 'assets/images/recent-posts/img-3.jpg' %}" alt>
                                </div>
                                <div class="details">
                                    <h4><a href="">Things You Must Need To See While You’re In
                                            Dubai</a></h4>
                                    <span class="date">12 Apr 2023 </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget wpo-instagram-widget">
                        <div class="widget-title">
                            <h3>Discover Our Rooms</h3>
                        </div>
                        <ul class="d-flex">
                            <li><a href=""><img src="{% static 'assets/images/instragram/1.jpg' %}" alt=""></a>
                            </li>
                            <li><a href=""><img src="{% static 'assets/images/instragram/2.jpg' %}" alt=""></a>
                            </li>
                            <li><a href=""><img src="{% static 'assets/images/instragram/3.jpg' %}" alt=""></a>
                            </li>
                            <li><a href=""><img src="{% static 'assets/images/instragram/4.jpg' %}" alt=""></a>
                            </li>
                            <li><a href=""><img src="{% static 'assets/images/instragram/5.jpg' %}" alt=""></a>
                            </li>
                            <li><a href=""><img src="{% static 'assets/images/instragram/6.jpg' %}" alt=""></a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget tag-widget">
                        <h3>Tags</h3>
                        <ul>
                            <li><a href="#">Travelling</a></li>
                            <li><a href="#">Hotel</a></li>
                            <li><a href="#">Restaurant</a></li>
                            <li><a href="#">World Tour</a></li>
                            <li><a href="#">Hotel Room</a></li>
                            <li><a href="#">Spa</a></li>
                            <li><a href="#">Guide</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end wpo-blog-pg-section -->

{% endblock content %}