<!-- login.html -->
{% extends 'bases/baseUser.html' %}
{% load static %}

{% block content %}
<div class="wpo-login-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form class="wpo-accountWrapper" method="POST" action="{% url 'login' %}">
                    <div class="wpo-accountInfo">
                        <div class="wpo-accountInfoHeader">
                            <a href="{% url 'index' %}"><img src="{% static 'assets/images/logo-2.svg' %}" alt=""></a>
                            <a class="wpo-accountBtn" href="{% url 'register' %}">
                                <span class="">Create Account</span>
                            </a>
                        </div>
                        <div class="image">
                            <img src="{% static 'assets/images/login.png' %}" alt="">
                        </div>
                        <div class="back-home">
                            <a class="wpo-accountBtn" href="{% url 'index' %}">
                                <span class="">Back To Home</span>
                            </a>
                        </div>
                    </div>
                    {% csrf_token %}
                    <div class="wpo-accountForm form-style">
                        <h2>Connexion</h2>
                        <p>Connectez-vous avec votre numéro ou username</p>

                        <!-- Messages d'erreur ou de succès -->
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li class="{{ message.tags }}">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        <!-- Identifiant : Numéro ou Username -->
                        <label for="identifier">Numéro ou Username</label>
                        <input type="text" id="identifier" name="identifier" placeholder="Numéro ou Username" required>

                        <!-- Mot de passe -->
                        <label for="password">Mot de passe</label>
                        <input type="password" id="password" name="password" placeholder="Mot de passe" required>

                        <button type="submit" class="wpo-accountBtn">Se connecter</button>
                        
                        <div class="forget-btn" style="margin-top: 10px; text-align: center;">
                            <a href="{% url 'forgot' %}" style="
                                color: #3498DB; 
                                font-size: 14px; 
                                font-weight: 500; 
                                text-decoration: none;
                                transition: color 0.3s ease-in-out;">
                                Mot de passe oublié ?
                            </a>
                        </div>
                        
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>
{% endblock content %}
