{% extends 'bases/baseUser.html' %}

{% load static %}

{% block content %}
<div class="wpo-login-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form class="wpo-accountWrapper" method="POST" action="{% url 'verify_otp' %}">
                    {% csrf_token %}
                    <div class="wpo-accountForm form-style">
                        <h2>Vérification OTP</h2>
                        <p>Entrez l'OTP reçu par SMS</p>

                        <label for="otp">Code OTP</label>
                        <input type="text" id="otp" name="otp" placeholder="Entrez votre OTP" required>

                        <button type="submit" class="wpo-accountBtn">Vérifier</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}