{% extends 'bases/baseReste.html' %}


{% load static %}

{% block content %}

<!-- start of breadcumb-section -->
<div class="wpo-breadcumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="wpo-breadcumb-wrap">
                    <h2>Instituts</h2>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><span>Instituts</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of wpo-breadcumb-section-->

<!-- start of featured-->
<section class="featured-section s2 section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-12">
                <div class="wpo-section-title s2">
                    <span>// featured hotels</span>
                    <h2>Discover the World's Most Captivating Featured Places</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for institution in institutions %}
            <div class="col-xl-3 col-lg-4 col-md-6 col-12 custom-grid all zoomIn" data-wow-duration="2000ms">
                <div class="featured-card">
                    <div class="image">
                        <img src="{{ institution.image.url }}" alt="{{ institution.name }}">
                    </div>
                    <div class="content">
                        <h2><a href="{% url 'places-single-institut' institution.id %}">{{ institution.name }}</a></h2>
                        <span><i class="ti-location-pin"></i> {{ institution.address }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- end of featured-->

{% endblock content %}