{% extends 'bases/baseReste.html' %}


{% load static %}

{% block content %}

        <!-- start of breadcumb-section -->
        <div class="wpo-breadcumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="wpo-breadcumb-wrap">
                            <h2>Places</h2>
                            <ul>
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li><span>Places</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of wpo-breadcumb-section-->

        <!-- start of places-->
        <section class="places-section section-padding">
            <div class="container">
                <div class="wraper">
                    <div class="wpo-section-title s2 wow fadeInLeftSlow" data-wow-duration="1700ms">
                        <span>// nearby places</span>
                        <h2>Nearby Places to Satiate Your Wanderlust.</h2>
                    </div>
                    <div class="places-wraper">
                        <div class="gap-spase">
                        </div>
                        <div class="places-item wow fadeInUp" data-wow-duration="1200ms">
                            <div class="image">
                                <img src="{% static 'assets/images/places/1.jpg' %}" alt="">
                            </div>
                            <div class="content">
                                <h2>
                                    <a href="{% url 'places-single' %}">France</a>
                                </h2>
                                <span>20 minutes drive</span>
                            </div>
                        </div>
                        <div class="places-item wow fadeInUp" data-wow-duration="1400ms">
                            <div class="image">
                                <img src="{% static 'assets/images/places/2.jpg' %}" alt="">
                            </div>
                            <div class="content">
                                <h2>
                                    <a href="{% url 'places-single' %}">United States</a>
                                </h2>
                                <span>18 minutes drive</span>
                            </div>
                        </div>
                        <div class="places-item wow fadeInUp" data-wow-duration="1600ms">
                            <div class="image">
                                <img src="{% static 'assets/images/places/3.jpg' %}" alt="">
                            </div>
                            <div class="content">
                                <h2>
                                    <a href="{% url 'places-single' %}">Australia</a>
                                </h2>
                                <span>28 minutes drive</span>
                            </div>
                        </div>
                        <div class="places-item wow fadeInUp" data-wow-duration="1200ms">
                            <div class="image">
                                <img src="{% static 'assets/images/places/4.jpg' %}" alt="">
                            </div>
                            <div class="content">
                                <h2>
                                    <a href="{% url 'places-single' %}">Spain</a>
                                </h2>
                                <span>30 minutes drive</span>
                            </div>
                        </div>
                        <div class="places-item wow fadeInUp" data-wow-duration="1400ms">
                            <div class="image">
                                <img src="{% static 'assets/images/places/5.jpg' %}" alt="">
                            </div>
                            <div class="content">
                                <h2>
                                    <a href="{% url 'places-single' %}">Greece</a>
                                </h2>
                                <span>38 minutes drive</span>
                            </div>
                        </div>
                        <div class="places-item wow fadeInUp" data-wow-duration="1600ms">
                            <div class="image">
                                <img src="{% static 'assets/images/places/6.jpg' %}" alt="">
                            </div>
                            <div class="content">
                                <h2>
                                    <a href="{% url 'places-single' %}">Maldives</a>
                                </h2>
                                <span>22 minutes drive</span>
                            </div>
                        </div>
                        <div class="places-item wow fadeInUp" data-wow-duration="1800ms">
                            <div class="image">
                                <img src="{% static 'assets/images/places/7.jpg' %}" alt="">
                            </div>
                            <div class="content">
                                <h2>
                                    <a href="{% url 'places-single' %}">new York</a>
                                </h2>
                                <span>42 minutes drive</span>
                            </div>
                        </div>
                        <div class="places-item wow fadeInUp" data-wow-duration="2000ms">
                            <div class="image">
                                <img src="{% static 'assets/images/places/8.jpg' %}" alt="">
                            </div>
                            <div class="content">
                                <h2>
                                    <a href="{% url 'places-single' %}">thailand</a>
                                </h2>
                                <span>27 minutes drive</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of places-->

        <!-- start of blog-->
        <section class="blog-section section-padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-12">
                        <div class="wpo-section-title s2 wow fadeInUp" data-wow-duration="1200ms">
                            <span>// latest news</span>
                            <h2>oin Our Blog for Travel Stories That Fuel Your Adventurous Spirit.</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="blog-card wow fadeInUp" data-wow-duration="1500ms">
                            <div class="image">
                                <img src="{% static 'assets/images/blog/img-1.jpg' %}" alt="">
                            </div>
                            <div class="content">
                                <div class="top-content">
                                    <ul>
                                        <li>
                                            <span>24 SEP 2023</span>
                                            <span class="date">DATE</span>
                                        </li>
                                        <li>
                                            <span>02K</span>
                                            <span class="date">Comment</span>
                                        </li>
                                        <li>
                                            <span>02K</span>
                                            <span class="date">Comment</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="text">
                                    <h2>
                                        <a href="{% url 'blog-single' %}">Hotels Amidst Nature's Bounty for Nature
                                            Enthusiasts.</a>
                                    </h2>
                                    <a href="{% url 'blog-single' %}" class="blog-btn">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="blog-card wow fadeInUp" data-wow-duration="1700ms">
                            <div class="image">
                                <img src="{% static 'assets/images/blog/img-2.jpg' %}" alt="">
                            </div>
                            <div class="content">
                                <div class="top-content">
                                    <ul>
                                        <li>
                                            <span>24 SEP 2023</span>
                                            <span class="date">DATE</span>
                                        </li>
                                        <li>
                                            <span>02K</span>
                                            <span class="date">Comment</span>
                                        </li>
                                        <li>
                                            <span>02K</span>
                                            <span class="date">Comment</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="text">
                                    <h2>
                                        <a href="{% url 'blog-single' %}">Chic Boutique Hotels to Elevate Your Stay.</a>
                                    </h2>
                                    <a href="{% url 'blog-single' %}" class="blog-btn">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="blog-card wow fadeInUp" data-wow-duration="1900ms">
                            <div class="image">
                                <img src="{% static 'assets/images/blog/img-3.jpg' %}" alt="">
                            </div>
                            <div class="content">
                                <div class="top-content">
                                    <ul>
                                        <li>
                                            <span>24 SEP 2023</span>
                                            <span class="date">DATE</span>
                                        </li>
                                        <li>
                                            <span>02K</span>
                                            <span class="date">Comment</span>
                                        </li>
                                        <li>
                                            <span>02K</span>
                                            <span class="date">Comment</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="text">
                                    <h2>
                                        <a href="{% url 'blog-single' %}">Experience 5-Star Stays Without Breaking the
                                            Bank.</a>
                                    </h2>
                                    <a href="{% url 'blog-single' %}" class="blog-btn">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of blog-->

{% endblock content %}